<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hello <%= @user.full_name %>,
    </p>
    <p>
      Book that are you notify is available so that you can purchase it. 
    </p>
    <p> 
      Thank you for choosing LccHub! 
    </p>
    <p> 
      The LccHub Team
    </p>
  </body>
</html>
