<div id="box_login">
  <div class="container">
    <div class="span12 box_wrapper">
      <div class="span12 box box_mandetory">
        <div>
          <div class="head">
            <h4>Editing book detail</h4>
          </div>
          <%= render 'form' %>
          <%= link_to 'Show', @book_detail %> |
          <%= link_to 'Back', book_details_path %>
        </div>
      </div>
    </div>
  </div>
</div>
