<li>
  <div class="article-post">
    <p>
      <a href="javascript:void(0);"><%= truncate_string(recent_books.title, 50) %></a>
    </p>    
    <span class="user-info"> By: <%= recent_books.author %> on 
    <%= date_formate(recent_books.created_at) %> </span>
  </div>
</li>

