<!-- start: Content -->
<div id="content" class="span10" style="min-height: 600px;">
  <div class="row-fluid">
    <div class="box span12">
      <div class="box-header">
        <h2><i class="icon-edit"></i>Edit your notify</h2>
        <div class="box-icon">
        </div>
      </div>
      <div class="box-content">
        <%= simple_form_for(@notify, :url => user_notify_path, 
        :html => { :method => :put, :class=>"form-horizontal", :multipart => true } ) do |f| %>
          <%= render :partial => "form", :locals => { :f => f } %>
        <% end %>
      </div>
    </div><!--/span-->
  </div><!--/row-->
</div>
<!-- end: Content -->
